/*Main Container */

.Main_Container {
  display: flex;
  height: 2219px;
  width: 1200px;
  flex-direction: column;
  border-bottom: 1px solid seashell;
}

h2 {
  font-size: 30px;
  font-family: Helvetica;
  color: seashell;

}

h4 {
  font-size: 22px;
  font-family: Helvetica;
  color: seashell;
}

h3 {
  font-size: 18px;
  font-family: Helvetica;
  color: seashell;
}

h5 {
  font-size: 16px;
  font-family: Helvetica;
  color: seashell;
}

p {
  font-size: 16px;
  font-family: Helvetica;
  color: seashell;
}


/*Nav Container */

.Nav_Container {
  display: flex;
  flex-direction: row;
  height: 69px;
  width: 1200px;
  background-color: black;

}

.Nav_Container span {
padding: 10px;
}

.Tea-Cozy-logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 10px;

}

.Tea-Cozy-logo img {
  height: 50px;
}


#nav_panel {
  display: inline-block;
  font-size: 22px;
  color: seashell;
  justify-content: space-around;

}

/* Mission Container */

.Mission_Container {
  display: flex;
  height: 700px;
  width: 1200px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.Mission_Detail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black

}



/* FeaturedTea_Container */

.FeaturedTea_Container {
  display: flex;
  height: 650px;
  width: 1200px;
  background-color: black;
  justify-content: center;

}

.Tea_Of_The_Month_Container {
  width: 1000px;
  text-align: center;

}


.Teas_Of_The_Month {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 1000px;


}


.Teas_Of_The_Month img {
  height: 200px;
  width: 300px;

}


.img1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;


}

.img2 {
  display: flex;
  flex-direction: column;
  align-items: center;


}

.img3 {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.img4 {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.img5 {
  display: flex;
  flex-direction: column;
  align-items: center;

}


/* Locations Container */

.Locations_Container {
  display: flex;
  height: 500px;
  width: 1200px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  flex-direction: column;
  opacity: 1;
  flex: 1 1 auto;

}

.Locations_Header {
  margin: 0 auto;
  flex direction: row;
  align-content: center;
  padding-top: 30px;
}
.stores {
  display: flex;
  flex-direction: row;
  margin: 0px auto;
  justify-content: space-around;
  align-content: space-around;
  width: 1100px;
  height: auto;

}

.Location1 {
  background-color: black;
  width: 300px;
  height: 220px;
  display: flex;
  flex-direction: column;
  text-align: center;
  opacity: 1;
  padding: 20px;


}

.Location2 {
  background-color: black;
  width: 300px;
  height: 220px;
  display: flex;
  flex-direction: column;
  text-align: center;
  opacity: 1;
  padding: 20px;


}

.Location3 {
  background-color: black;
  width: 300px;
  height: 220px;
  display: flex;
  flex-direction: column;
  text-align: center;
  opacity: 1;
  padding: 20px;



}

/* Footer Container */

.Footer_Container {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 1200px;
  background-color: black;
  justify-content: center;
  align-content: center;
  text-align: center;
}

/* Copyright Container */

.CopyRight_Container {
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 1200px;
  background-color: black;
  justify-content: flex-start;
  align-content: flex-start;
  text-align: left;
}

.CopyRight_Container h3 {
  padding-left: 20px;
}
